# classes in oops

a = 28
print(type(a))

In [2]:
b = 32
print(type(b))

<class 'int'>

In [3]:
c = 23.5
print(type(c))

<class 'float'>

In [4]:
d = False
print(type(d))

<class 'bool'>

In [5]:
e = True
print(type(e))

<class 'bool'>

In [6]:
g = "Etlhive"
print(type(g))

<class 'str'>

#Dataframe

In [10]:
d= {
    "name": ["Utkarsh", "Sarthak", "Aditi"],
    "age": [28, 29, 30],
    "occupation": ["Engg.", "Accounts", "HR"],
    "email": ["u@test.com", "s@test.com", "a@test.com"]
}
print(d)

{'name': ['Utkarsh', 'Sarthak', 'Aditi'], 'age': [28, 29, 30], 'occupation': ['Engg.', 'Accounts', 'HR'], 'email': ['u@test.com', 's@test.com', 'a@test.com']}

In [11]:
import pandas as pd
e = pd.DataFrame(d)
e

      name  age occupation       email
0  Utkarsh   28      Engg.  u@test.com
1  Sarthak   29   Accounts  s@test.com
2    Aditi   30         HR  a@test.com

In [12]:
e.shape

(3, 4)

In [13]:
e.size

12

In [14]:
e.dtypes

name          object
age            int64
occupation    object
email         object
dtype: object

#functions or methods of class

In [15]:
e.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        3 non-null      object
 1   age         3 non-null      int64
 2   occupation  3 non-null      object
 3   email       3 non-null      object
dtypes: int64(1), object(3)
memory usage: 228.0+ bytes

In [16]:
e.nunique()

name          3
age           3
occupation    3
email         3
dtype: int64

In [17]:
e["occupation"].unique()

array(['Engg.', 'Accounts', 'HR'], dtype=object)

In [18]:
print(type(e))

<class 'pandas.core.frame.DataFrame'>

In [19]:
e.sort_values(by = "age", ascending=False)

      name  age occupation       email
2    Aditi   30         HR  a@test.com
1  Sarthak   29   Accounts  s@test.com
0  Utkarsh   28      Engg.  u@test.com

In [20]:
class Person:

    def __init__(self, name: str, age: int, gender: str, occupation: str):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation

    def intro(self):
        print(f"My name is {self.name}")
        print(f"I am {self.age} years old")
        print(f"I am {self.gender}")
        print(f"I work as {self.occupation}")

In [21]:
p1 = Person(name = "Rahul", age=28, gender="Male", occupation="Accounts")
print(type(p1))

<class '__main__.Person'>

In [22]:
p1.name

'Rahul'

In [23]:
p1.age

28

In [24]:
p1.gender

'Male'

In [25]:
p1.occupation

'Accounts'

In [26]:
p1.intro()

My name is Rahul
I am 28 years old
I am Male
I work as Accounts

In [27]:
print(p1)

<__main__.Person object at 0x000002B43A82EA50>

In [28]:

p2 = Person(name="Aditi", age=28, gender="Female", occupation="HR")
print(type(p2))

<class '__main__.Person'>

In [29]:
p2.name

'Aditi'

In [30]:
p2.age

28

In [31]:
p2.gender

'Female'

In [32]:
p2.occupation

'HR'

In [33]:
p2.intro()

My name is Aditi
I am 28 years old
I am Female
I work as HR

In [34]:
persons = [
    Person(name="John", age=28, gender="Female", occupation="HR"),
    Person(name="Rahul", age=30, gender="Male", occupation="Engg."),
    Person(name="Raman", age=32, gender="Male", occupation="Accounts")
]

In [35]:
for p in persons:
    p.intro()
    print("================================")

My name is John
I am 28 years old
I am Female
I work as HR
================================
My name is Rahul
I am 30 years old
I am Male
I work as Engg.
================================
My name is Raman
I am 32 years old
I am Male
I work as Accounts
================================

#Show the string representation __str__

In [36]:
class Person2:

    def __init__(self, name: str, age: int, gender: str, occupation: str):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation

    def __str__(self):
        return f"Person2(name = {self.name}, age = {self.age}, gender = {self.gender}, occupation = {self.occupation})"

    def talk(self):
        print(f"My name is {self.name}")
        print(f"My age is {self.age}")
        print(f"I am {self.gender}")
        print(f"I work as a {self.occupation}")

In [37]:
p1 = Person2(name="Raman", age=28, gender="Male", occupation = "Accounts")
print(p1)

Person2(name = Raman, age = 28, gender = Male, occupation = Accounts)

In [38]:
p1.name

'Raman'

In [39]:
p1.age

28

# dataclasses

In [40]:
from dataclasses import dataclass
from typing import Literal

@dataclass
class Student:
    roll_no: int
    name: str
    age: int
    gender: Literal["male", "female"]

    def get_info(self):
        print(f"Roll no : {self.roll_no}")
        print(f"Name : {self.name}")
        print(f"Age : {self.age}")
        print(f"Gender : {self.gender}")

In [41]:
s1 = Student(roll_no=102, name="Rahul", age=28, gender="male")
print(s1)

Student(roll_no=102, name='Rahul', age=28, gender='male')

In [42]:
print(type(s1))

<class '__main__.Student'>

In [43]:
s2 = Student(roll_no=103, name="Raman", age=30, gender="male")
print(s2)

Student(roll_no=103, name='Raman', age=30, gender='male')

In [44]:
s2.name

'Raman'

In [45]:
s2.roll_no

103

In [46]:
s2.age

30

In [47]:
s2.gender

'male'

In [48]:
s2.get_info()

Roll no : 103
Name : Raman
Age : 30
Gender : male