# assignment

In [1]:
import math
class Triangle:

    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c
        if self.a <= 0 or self.b <= 0 or self.c <= 0:
            raise ValueError("Sides of triangle cannot be negative or zero")
        if not self.is_triangle():
            raise ValueError("Sum of any two sides should be greater than third")
            
    def __str__(self):
        return f"Triangle(a = {self.a} , b = {self.b} , c = {self.c})"

    def is_triangle(self):
        return (
            self.a + self.b >= self.c and
            self.b + self.c >= self.a and
            self.c + self.a >= self.b
        )

    def perimeter(self):
        return self.a + self.b + self.c

    def area(self):
        s = self.perimeter() / 2
        return math.sqrt(s*(s-self.a)*(s-self.b)*(s-self.c))

In [2]:
t1 = Triangle(a=3, b=4, c=5)
print(t1)

Triangle(a = 3 , b = 4 , c = 5)

In [3]:
t1.a

3

In [4]:
t1.b

4

In [5]:
t1.c

5

In [6]:
t1.perimeter()

12

In [7]:
t1.area()

6.0

In [8]:
t1.is_triangle()

True

In [9]:
t2 = Triangle(a = 11, b=12, c=13)
print(t2)

Triangle(a = 11 , b = 12 , c = 13)

In [10]:
t2.is_triangle()

True

In [11]:
t2.perimeter()

36

In [12]:
t2.area()

61.48170459575759

In [14]:
tr = [
    Triangle(a = 11, b = 12, c = 13),
    Triangle(a = 3, b=4, c=5),
    Triangle(a = 13, b = 14, c = 15)
]

In [15]:
for i in tr:
    print(i)
    print(f"Perimter : {i.perimeter()}")
    print(f"Area : {i.area()}")
    print("===============================")

Triangle(a = 11 , b = 12 , c = 13)
Perimter : 36
Area : 61.48170459575759
===============================
Triangle(a = 3 , b = 4 , c = 5)
Perimter : 12
Area : 6.0
===============================
Triangle(a = 13 , b = 14 , c = 15)
Perimter : 42
Area : 84.0
===============================

# polymprphism functions

In [16]:
a = "Raman"
print(type(a))
print(len(a))

<class 'str'>
5

In [17]:
b = (1, 2, 3, 4, 5, 6, 7, 8)
print(type(b))
print(len(b))

<class 'tuple'>
8

In [18]:
c = [3, 4, 5, 6, 7, 8]
print(type(c))
print(len(c))

<class 'list'>
6

In [19]:
d = {
    "a": 12, "b": 13, "c": 15, "d": 18
}
print(type(d))
print(len(d))

<class 'dict'>
4

In [20]:
import pandas as pd
df = pd.DataFrame(
    {
        "first": ["Rahul", "Raman", "Aditi"],
        "last": ["Gaikwad", "More", "More"]
    }
)
df

   first     last
0  Rahul  Gaikwad
1  Raman     More
2  Aditi     More

In [21]:
len(df)

3

In [22]:
df.shape

(3, 2)

In [23]:
a = 12
b = 13
print(a + b)

25

In [24]:
c = 13.3
d = 14.4
print(c + d)

27.700000000000003

In [25]:
e = "String1"
f = "String2"
print(e + f)

String1String2

In [26]:
a = [1, 2, 3, 4]
b = [5, 6, 7]
print(a + b)

[1, 2, 3, 4, 5, 6, 7]

In [27]:
a = 12
b = 13
print(a * b)

156

In [28]:
a = [1, 2, 3]
print(a * 4)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

# polymorphism in classes

In [29]:
class India:

    def capital(self):
        print("New Delhi is capital of India")

    def language(self):
        print("Hindi is widely spoken in India")

In [30]:
class USA:

    def capital(self):
        print("Washington D.C. is capital of USA")

    def language(self):
        print("English is widely spoken in USA")

In [31]:
class France:

    def capital(self):
        print("Paris is capital of France")

    def language(self):
        print("French is widely spoken in France")

In [32]:
c1 = India()
c1.capital()
c1.language()

New Delhi is capital of India
Hindi is widely spoken in India

In [33]:
c2 = USA()
c2.capital()
c2.language()

Washington D.C. is capital of USA
English is widely spoken in USA

In [34]:
c3 = France()
c3.capital()
c3.language()

Paris is capital of France
French is widely spoken in France

In [35]:
countries = [India(), USA(), France()]

for i in countries:
    print(type(i))
    i.capital()
    i.language()
    print("===================================")

<class '__main__.India'>
New Delhi is capital of India
Hindi is widely spoken in India
===================================
<class '__main__.USA'>
Washington D.C. is capital of USA
English is widely spoken in USA
===================================
<class '__main__.France'>
Paris is capital of France
French is widely spoken in France
===================================

# example 2

In [36]:
class Rectangle:

    def __init__(self, width: float, height: float):
        self.width = width
        self.height = height

    def perimeter(self):
        return 2 * (self.width + self.height)
    
    def area(self):
        return self.width * self.height

In [37]:
import math

print(math.pi)

3.141592653589793

In [38]:
class Circle:

    def __init__(self, radius):
        self.radius = radius 

    def perimeter(self):
        return 2 * math.pi * self.radius
    
    def area(self):
        return math.pi * (self.radius ** 2)

In [39]:
t1 = Triangle(a = 3, b = 4, c = 5)
print(t1.perimeter())
print(t1.area())
12

12
6.0

12

In [40]:
c2 = Circle(radius = 20)
print(c2.perimeter())
print(c2.area())

125.66370614359172
1256.6370614359173

In [41]:
c3 = Rectangle(width = 20, height = 30)
print(c3.perimeter())
print(c3.area())

100
600

In [42]:
shapes = [
    Triangle(a = 12, b = 13, c = 14),
    Circle(radius = 15),
    Rectangle(width=25, height=30),
    Circle(radius = 21),
    Triangle(a = 11, b = 12, c = 13)
]
for i in shapes:
    p = i.perimeter()
    a = i.area()
    print(type(i))
    print(f"Perimeter : {p}")
    print(f"Area : {a}")
    print("============================")

<class '__main__.Triangle'>
Perimeter : 39
Area : 72.30793524918272
============================
<class '__main__.Circle'>
Perimeter : 94.24777960769379
Area : 706.8583470577034
============================
<class '__main__.Rectangle'>
Perimeter : 110
Area : 750
============================
<class '__main__.Circle'>
Perimeter : 131.94689145077132
Area : 1385.4423602330987
============================
<class '__main__.Triangle'>
Perimeter : 36
Area : 61.48170459575759
============================